In [191]:
import pandas as pd
import numpy as np

In [192]:
sentiment_scores = pd.read_csv("csv/pfizer_processed_tweets_sentiment_scores.csv", engine="python")

In [193]:
sentiment_scores.head()

,date,id,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0,Unnamed: 6
0,12-12-2020,1.340000e+18,0.034,0.039,0.060,0.145,NaN
1,13-12-2020,1.340000e+18,0.046,0.042,0.097,0.117,NaN
2,14-12-2020,1.340000e+18,0.167,0.121,0.386,0.247,NaN
3,15-12-2020,1.340000e+18,0.177,0.108,0.341,0.243,NaN
4,16-12-2020,1.340000e+18,0.042,0.081,0.090,0.193,NaN

In [194]:
len(sentiment_scores)

347

In [195]:
sentiment_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              347 non-null    object
 1   id                319 non-null    float64
 2   sentiment_1       319 non-null    float64
 3   sentiment_2       319 non-null    float64
 4   sentiment_1_no_0  319 non-null    float64
 5   sentiment_2_no_0  318 non-null    float64
 6   Unnamed: 6        0 non-null      float64
dtypes: float64(6), object(1)
memory usage: 19.1+ KB

In [196]:
sentiment_scores.set_index(pd.to_datetime(sentiment_scores.date), inplace = True)
sentiment_scores = sentiment_scores.drop(columns = ['date'])
sentiment_scores = sentiment_scores.drop(columns = ['Unnamed: 6'])
sentiment_scores.head()

,id,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
date,,,,,
2020-12-12,1.340000e+18,0.034,0.039,0.060,0.145
2020-12-13,1.340000e+18,0.046,0.042,0.097,0.117
2020-12-14,1.340000e+18,0.167,0.121,0.386,0.247
2020-12-15,1.340000e+18,0.177,0.108,0.341,0.243
2020-12-16,1.340000e+18,0.042,0.081,0.090,0.193

In [197]:
pfe_stock_prices = pd.read_csv("csv/pfe_stock_data.csv", engine="python")

In [198]:
pfe_stock_prices.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2020-12-14  41.619999  41.660000  39.070000  39.209999  37.448860  94809700
1  2020-12-15  39.060001  39.180000  38.209999  38.709999  36.971317  65712800
2  2020-12-16  38.180000  38.470001  37.740002  37.840000  36.140400  56515300
3  2020-12-17  37.830002  38.119999  37.310001  38.029999  36.321865  52036400
4  2020-12-18  37.990002  38.090000  37.500000  37.680000  35.987579  60259200

In [199]:
pfe_stock_prices.set_index(pd.to_datetime(pfe_stock_prices.Date), inplace = True)
pfe_stock_prices = pfe_stock_prices.drop(columns = ['Date'])

pfe_stock_prices.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-14  41.619999  41.660000  39.070000  39.209999  37.448860  94809700
2020-12-15  39.060001  39.180000  38.209999  38.709999  36.971317  65712800
2020-12-16  38.180000  38.470001  37.740002  37.840000  36.140400  56515300
2020-12-17  37.830002  38.119999  37.310001  38.029999  36.321865  52036400
2020-12-18  37.990002  38.090000  37.500000  37.680000  35.987579  60259200

In [200]:
pfe_stock_prices.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-14  41.619999  41.660000  39.070000  39.209999  37.448860  94809700
2020-12-15  39.060001  39.180000  38.209999  38.709999  36.971317  65712800
2020-12-16  38.180000  38.470001  37.740002  37.840000  36.140400  56515300
2020-12-17  37.830002  38.119999  37.310001  38.029999  36.321865  52036400
2020-12-18  37.990002  38.090000  37.500000  37.680000  35.987579  60259200

In [201]:
#max and min dates in sentiment_scores and stock_prices data
print(str(min(sentiment_scores.index)) + " to " + str(max(sentiment_scores.index)))
print(str(min(pfe_stock_prices.index)) + " to " + str(max(pfe_stock_prices.index)))

2020-12-12 00:00:00 to 2021-12-11 00:00:00
2020-12-14 00:00:00 to 2021-11-22 00:00:00

In [202]:
pfe_stock_prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 238 entries, 2020-12-14 to 2021-11-22
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       238 non-null    float64
 1   High       238 non-null    float64
 2   Low        238 non-null    float64
 3   Close      238 non-null    float64
 4   Adj Close  238 non-null    float64
 5   Volume     238 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.0 KB

In [203]:
pfe_stock_prices['difference_open_close'] = pfe_stock_prices.Open - pfe_stock_prices.Close.shift(1)
pfe_stock_prices['positive_negative'] = pfe_stock_prices['positive_negative'] = pfe_stock_prices.difference_open_close.apply(lambda i: 1 if (i > 0) else (-1 if i < 0 else 0))

In [204]:
pfe_stock_prices.head()

,Open,High,Low,Close,Adj Close,Volume,difference_open_close,positive_negative
Date,,,,,,,,
2020-12-14,41.619999,41.660000,39.070000,39.209999,37.448860,94809700,NaN,0
2020-12-15,39.060001,39.180000,38.209999,38.709999,36.971317,65712800,-0.149998,-1
2020-12-16,38.180000,38.470001,37.740002,37.840000,36.140400,56515300,-0.529999,-1
2020-12-17,37.830002,38.119999,37.310001,38.029999,36.321865,52036400,-0.009998,-1
2020-12-18,37.990002,38.090000,37.500000,37.680000,35.987579,60259200,-0.039997,-1

In [205]:
pfe_stock_prices = pfe_stock_prices.resample('D').asfreq()
pfe_stock_prices.head()
len(pfe_stock_prices)

344

In [206]:
#merging both the stock price data and sentiment scores data
pfe_tweet_sentiment = pd.merge(pfe_stock_prices, sentiment_scores, how="inner", left_index=True, right_index=True)
pfe_tweet_sentiment.head()

,Open,High,Low,Close,Adj Close,Volume,difference_open_close,positive_negative,id,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,41.660000,39.070000,39.209999,37.448860,94809700.0,NaN,0.0,1.340000e+18,0.167,0.121,0.386,0.247
2020-12-15,39.060001,39.180000,38.209999,38.709999,36.971317,65712800.0,-0.149998,-1.0,1.340000e+18,0.177,0.108,0.341,0.243
2020-12-16,38.180000,38.470001,37.740002,37.840000,36.140400,56515300.0,-0.529999,-1.0,1.340000e+18,0.042,0.081,0.090,0.193
2020-12-17,37.830002,38.119999,37.310001,38.029999,36.321865,52036400.0,-0.009998,-1.0,1.340000e+18,0.047,0.039,0.096,0.086
2020-12-18,37.990002,38.090000,37.500000,37.680000,35.987579,60259200.0,-0.039997,-1.0,1.340000e+18,0.148,0.113,0.312,0.283

In [207]:
pfe_tweet_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 333 entries, 2020-12-14 to 2021-11-22
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   229 non-null    float64
 1   High                   229 non-null    float64
 2   Low                    229 non-null    float64
 3   Close                  229 non-null    float64
 4   Adj Close              229 non-null    float64
 5   Volume                 229 non-null    float64
 6   difference_open_close  228 non-null    float64
 7   positive_negative      229 non-null    float64
 8   id                     306 non-null    float64
 9   sentiment_1            306 non-null    float64
 10  sentiment_2            306 non-null    float64
 11  sentiment_1_no_0       306 non-null    float64
 12  sentiment_2_no_0       305 non-null    float64
dtypes: float64(13)
memory usage: 36.4 KB

In [208]:
#drop unwanted columns
pfe_tweet_sentiment = pfe_tweet_sentiment.drop(columns=["High", "Low", "Adj Close", "Volume"])

In [209]:
pfe_tweet_sentiment.head()

,Open,Close,difference_open_close,positive_negative,id,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,39.209999,NaN,0.0,1.340000e+18,0.167,0.121,0.386,0.247
2020-12-15,39.060001,38.709999,-0.149998,-1.0,1.340000e+18,0.177,0.108,0.341,0.243
2020-12-16,38.180000,37.840000,-0.529999,-1.0,1.340000e+18,0.042,0.081,0.090,0.193
2020-12-17,37.830002,38.029999,-0.009998,-1.0,1.340000e+18,0.047,0.039,0.096,0.086
2020-12-18,37.990002,37.680000,-0.039997,-1.0,1.340000e+18,0.148,0.113,0.312,0.283

# Combine weekend scores

In [210]:
pfe_tweets = pfe_tweet_sentiment.copy()
pfe_tweets

,Open,Close,difference_open_close,positive_negative,id,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,39.209999,NaN,0.0,1.340000e+18,0.167000,0.121000,0.386000,0.247000
2020-12-15,39.060001,38.709999,-0.149998,-1.0,1.340000e+18,0.177000,0.108000,0.341000,0.243000
2020-12-16,38.180000,37.840000,-0.529999,-1.0,1.340000e+18,0.042000,0.081000,0.090000,0.193000
2020-12-17,37.830002,38.029999,-0.009998,-1.0,1.340000e+18,0.047000,0.039000,0.096000,0.086000
2020-12-18,37.990002,37.680000,-0.039997,-1.0,1.340000e+18,0.148000,0.113000,0.312000,0.283000
...,...,...,...,...,...,...,...,...,...
2021-11-18,51.099998,51.410000,0.230000,1.0,1.460000e+18,0.131358,0.104467,0.239535,0.190498
2021-11-19,51.959999,50.799999,0.549999,1.0,1.460000e+18,0.152368,0.095931,0.299821,0.136088
2021-11-20,NaN,NaN,NaN,NaN,1.460000e+18,0.116481,0.056918,0.216321,0.109619
2021-11-21,NaN,NaN,NaN,NaN,1.460000e+18,0.085462,0.051299,0.128194,0.076948
2021-11-22,50.950001,51.200001,0.150002,1.0,1.460000e+18,0.032341,0.046255,0.067762,0.092510

In [211]:
fri_sentiment_pfe = pfe_tweets[pfe_tweets.index.day_name() == 'Friday'].reset_index()
fri_sentiment_pfe = fri_sentiment_pfe.rename(columns={"index": "date"})
sat_sentiment_pfe = pfe_tweets[pfe_tweets.index.day_name() == 'Saturday'].reset_index()
sat_sentiment_pfe = sat_sentiment_pfe.rename(columns={"index": "date"})
sun_sentiment_pfe = pfe_tweets[pfe_tweets.index.day_name() == 'Sunday'].reset_index()
sun_sentiment_pfe = sun_sentiment_pfe.rename(columns={"index": "date"})

In [212]:
fri_sentiment_pfe.columns = ["fri_" + str(column) for column in fri_sentiment_pfe.columns]
sat_sentiment_pfe.columns = ["sat_" + str(column) for column in sat_sentiment_pfe.columns]
sun_sentiment_pfe.columns = ["sun_" + str(column) for column in sun_sentiment_pfe.columns]

In [213]:
fri_sentiment_pfe.head()

,fri_date,fri_Open,fri_Close,fri_difference_open_close,fri_positive_negative,fri_id,fri_sentiment_1,fri_sentiment_2,fri_sentiment_1_no_0,fri_sentiment_2_no_0
0,2020-12-18,37.990002,37.680000,-0.039997,-1.0,1.340000e+18,0.148000,0.113000,0.312000,0.283000
1,2020-12-25,NaN,NaN,NaN,NaN,1.340000e+18,0.037000,0.075000,0.117000,0.133000
2,2021-01-01,NaN,NaN,NaN,NaN,1.340000e+18,0.016000,0.059000,0.020000,0.101000
3,2021-01-08,37.160000,37.130001,0.099998,1.0,1.420000e+18,0.081447,0.007708,0.234568,0.029207
4,2021-01-15,36.680000,36.700001,-0.070000,-1.0,1.350000e+18,0.047000,0.056000,0.077000,0.114000

In [214]:
sat_sentiment_pfe.head()

,sat_date,sat_Open,sat_Close,sat_difference_open_close,sat_positive_negative,sat_id,sat_sentiment_1,sat_sentiment_2,sat_sentiment_1_no_0,sat_sentiment_2_no_0
0,2020-12-19,NaN,NaN,NaN,NaN,1.340000e+18,0.159000,0.115000,0.243000,0.263000
1,2020-12-26,NaN,NaN,NaN,NaN,1.340000e+18,0.199000,0.126000,0.398000,0.217000
2,2021-01-02,NaN,NaN,NaN,NaN,1.360000e+18,0.164000,0.151000,0.394000,0.362000
3,2021-01-09,NaN,NaN,NaN,NaN,1.430000e+18,0.089074,0.088039,0.222684,0.201232
4,2021-01-16,NaN,NaN,NaN,NaN,1.350000e+18,-0.106000,0.026000,-0.149000,0.066000

In [215]:
sun_sentiment_pfe.head()

,sun_date,sun_Open,sun_Close,sun_difference_open_close,sun_positive_negative,sun_id,sun_sentiment_1,sun_sentiment_2,sun_sentiment_1_no_0,sun_sentiment_2_no_0
0,2020-12-20,NaN,NaN,NaN,NaN,1.340000e+18,0.032000,0.048000,0.076000,0.106000
1,2020-12-27,NaN,NaN,NaN,NaN,1.340000e+18,0.254000,0.125000,0.509000,0.299000
2,2021-01-03,NaN,NaN,NaN,NaN,1.370000e+18,0.176000,0.100000,0.305000,0.209000
3,2021-01-10,NaN,NaN,NaN,NaN,1.440000e+18,0.042347,0.096591,0.141156,0.181108
4,2021-01-17,NaN,NaN,NaN,NaN,1.350000e+18,0.028000,0.080000,0.043000,0.180000

In [216]:
# Merge fri, sat, and sun into one data frame

weekend_data = pd.concat([fri_sentiment_pfe, sat_sentiment_pfe, sun_sentiment_pfe], axis=1, sort = False).reindex()
weekend_data.head()

,fri_date,fri_Open,fri_Close,fri_difference_open_close,fri_positive_negative,fri_id,fri_sentiment_1,fri_sentiment_2,fri_sentiment_1_no_0,fri_sentiment_2_no_0,...,sun_date,sun_Open,sun_Close,sun_difference_open_close,sun_positive_negative,sun_id,sun_sentiment_1,sun_sentiment_2,sun_sentiment_1_no_0,sun_sentiment_2_no_0
0,2020-12-18,37.990002,37.680000,-0.039997,-1.0,1.340000e+18,0.148000,0.113000,0.312000,0.283000,...,2020-12-20,NaN,NaN,NaN,NaN,1.340000e+18,0.032000,0.048000,0.076000,0.106000
1,2020-12-25,NaN,NaN,NaN,NaN,1.340000e+18,0.037000,0.075000,0.117000,0.133000,...,2020-12-27,NaN,NaN,NaN,NaN,1.340000e+18,0.254000,0.125000,0.509000,0.299000
2,2021-01-01,NaN,NaN,NaN,NaN,1.340000e+18,0.016000,0.059000,0.020000,0.101000,...,2021-01-03,NaN,NaN,NaN,NaN,1.370000e+18,0.176000,0.100000,0.305000,0.209000
3,2021-01-08,37.160000,37.130001,0.099998,1.0,1.420000e+18,0.081447,0.007708,0.234568,0.029207,...,2021-01-10,NaN,NaN,NaN,NaN,1.440000e+18,0.042347,0.096591,0.141156,0.181108
4,2021-01-15,36.680000,36.700001,-0.070000,-1.0,1.350000e+18,0.047000,0.056000,0.077000,0.114000,...,2021-01-17,NaN,NaN,NaN,NaN,1.350000e+18,0.028000,0.080000,0.043000,0.180000

In [217]:
weekend_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fri_date                   46 non-null     datetime64[ns]
 1   fri_Open                   43 non-null     float64
 2   fri_Close                  43 non-null     float64
 3   fri_difference_open_close  43 non-null     float64
 4   fri_positive_negative      43 non-null     float64
 5   fri_id                     40 non-null     float64
 6   fri_sentiment_1            40 non-null     float64
 7   fri_sentiment_2            40 non-null     float64
 8   fri_sentiment_1_no_0       40 non-null     float64
 9   fri_sentiment_2_no_0       39 non-null     float64
 10  sat_date                   48 non-null     datetime64[ns]
 11  sat_Open                   0 non-null      float64
 12  sat_Close                  0 non-null      float64
 13  sat_difference_open_close  0 non-null      float64
 14  sat_positive_negative      0 non-null      float64
 15  sat_id                     46 non-null     float64
 16  sat_sentiment_1            46 non-null     float64
 17  sat_sentiment_2            46 non-null     float64
 18  sat_sentiment_1_no_0       46 non-null     float64
 19  sat_sentiment_2_no_0       46 non-null     float64
 20  sun_date                   48 non-null     datetime64[ns]
 21  sun_Open                   0 non-null      float64
 22  sun_Close                  0 non-null      float64
 23  sun_difference_open_close  0 non-null      float64
 24  sun_positive_negative      0 non-null      float64
 25  sun_id                     44 non-null     float64
 26  sun_sentiment_1            44 non-null     float64
 27  sun_sentiment_2            44 non-null     float64
 28  sun_sentiment_1_no_0       44 non-null     float64
 29  sun_sentiment_2_no_0       44 non-null     float64
dtypes: datetime64[ns](3), float64(27)
memory usage: 11.4 KB

In [218]:
#avg. of weekend data
weekend_data["sentiment_1"] = (weekend_data["fri_sentiment_1"] + weekend_data["sat_sentiment_1"] + weekend_data["sun_sentiment_1"]) / 3
weekend_data["sentiment_2"] = (weekend_data["fri_sentiment_2"] + weekend_data["sat_sentiment_2"] + weekend_data["sun_sentiment_2"]) / 3
weekend_data["sentiment_1_no_0"] = (weekend_data["fri_sentiment_1_no_0"] + weekend_data["sat_sentiment_1_no_0"] + weekend_data["sun_sentiment_1_no_0"]) / 3
weekend_data["sentiment_2_no_0"] = (weekend_data["fri_sentiment_1_no_0"] + weekend_data["sat_sentiment_1_no_0"] + weekend_data["sun_sentiment_1_no_0"]) / 3

weekend_data = weekend_data[['fri_date', 'sat_date', 'sun_date', 'sentiment_1', 'sentiment_2', 'sentiment_1_no_0', 'sentiment_2_no_0']]

In [219]:
weekend_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fri_date          46 non-null     datetime64[ns]
 1   sat_date          48 non-null     datetime64[ns]
 2   sun_date          48 non-null     datetime64[ns]
 3   sentiment_1       37 non-null     float64
 4   sentiment_2       37 non-null     float64
 5   sentiment_1_no_0  37 non-null     float64
 6   sentiment_2_no_0  37 non-null     float64
dtypes: datetime64[ns](3), float64(4)
memory usage: 2.8 KB

In [220]:
# replace sentiment scores of friday with the avg. score from the weekend
for x in range(len(pfe_tweet_sentiment)):
    for y in range(len(weekend_data)):
        if pfe_tweet_sentiment.index[x] == weekend_data.fri_date[y]:
            pfe_tweet_sentiment.sentiment_1[x] = weekend_data.sentiment_1[y]
            pfe_tweet_sentiment.sentiment_2[x] = weekend_data.sentiment_2[y]
            pfe_tweet_sentiment.sentiment_1_no_0[x] = weekend_data.sentiment_1_no_0[y]
            pfe_tweet_sentiment.sentiment_2_no_0[x] = weekend_data.sentiment_2_no_0[y]
pfe_tweet_sentiment.head()

,Open,Close,difference_open_close,positive_negative,id,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,39.209999,NaN,0.0,1.340000e+18,0.167,0.121,0.386000,0.247000
2020-12-15,39.060001,38.709999,-0.149998,-1.0,1.340000e+18,0.177,0.108,0.341000,0.243000
2020-12-16,38.180000,37.840000,-0.529999,-1.0,1.340000e+18,0.042,0.081,0.090000,0.193000
2020-12-17,37.830002,38.029999,-0.009998,-1.0,1.340000e+18,0.047,0.039,0.096000,0.086000
2020-12-18,37.990002,37.680000,-0.039997,-1.0,1.340000e+18,0.113,0.092,0.210333,0.210333

In [221]:
len(pfe_tweet_sentiment)

333

In [222]:
pfe_tweet_sentiment.isnull().sum()

Open                     104
Close                    104
difference_open_close    105
positive_negative        104
id                        27
sentiment_1               30
sentiment_2               30
sentiment_1_no_0          30
sentiment_2_no_0          30
dtype: int64

In [223]:
pfe_tweet_sentiment.shape

(333, 9)

In [224]:
pfe_tweet_sentiment = pfe_tweet_sentiment.dropna()

In [225]:
pfe_tweet_sentiment.shape

(205, 9)

In [226]:
pfe_tweet_sentiment.to_csv(r"csv/sentiment_score_and_pfizer_price.csv", header=True)