In [1]:
import pandas as pd

In [2]:
sentiment_scores = pd.read_csv("csv/pfizer_processed_tweets_sentiment_scores.csv", engine="python")

In [3]:
sentiment_scores.head()

         date  sentiment_1  sentiment_2  sentiment_1_no_0  sentiment_2_no_0
0  2020-12-12     0.034358     0.039161          0.059553          0.145455
1  2020-12-13     0.046367     0.041703          0.097370          0.116768
2  2020-12-14     0.167158     0.121478          0.386193          0.246637
3  2020-12-15     0.176775     0.108430          0.341359          0.242884
4  2020-12-16     0.041658     0.080594          0.089565          0.192529

In [4]:
len(sentiment_scores)

318

In [5]:
sentiment_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              318 non-null    object
 1   sentiment_1       318 non-null    float64
 2   sentiment_2       318 non-null    float64
 3   sentiment_1_no_0  318 non-null    float64
 4   sentiment_2_no_0  318 non-null    float64
dtypes: float64(4), object(1)
memory usage: 12.5+ KB

In [6]:
sentiment_scores.set_index(pd.to_datetime(sentiment_scores.date), inplace = True)
sentiment_scores = sentiment_scores.drop(columns = ['date'])
#sentiment_scores = sentiment_scores.drop(columns = ['Unnamed: 6'])
sentiment_scores.head()

            sentiment_1  sentiment_2  sentiment_1_no_0  sentiment_2_no_0
date
2020-12-12     0.034358     0.039161          0.059553          0.145455
2020-12-13     0.046367     0.041703          0.097370          0.116768
2020-12-14     0.167158     0.121478          0.386193          0.246637
2020-12-15     0.176775     0.108430          0.341359          0.242884
2020-12-16     0.041658     0.080594          0.089565          0.192529

In [7]:
pfe_stock_prices = pd.read_csv("csv/pfe_stock_data.csv", engine="python")

In [8]:
pfe_stock_prices.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2020-12-14  41.619999  41.660000  39.070000  39.209999  37.145939  94809700
1  2020-12-15  39.060001  39.180000  38.209999  38.709999  36.672256  65712800
2  2020-12-16  38.180000  38.470001  37.740002  37.840000  35.848061  56515300
3  2020-12-17  37.830002  38.119999  37.310001  38.029999  36.028057  52036400
4  2020-12-18  37.990002  38.090000  37.500000  37.680000  35.696476  60259200

In [9]:
pfe_stock_prices.set_index(pd.to_datetime(pfe_stock_prices.Date), inplace = True)
pfe_stock_prices = pfe_stock_prices.drop(columns = ['Date'])

pfe_stock_prices.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-14  41.619999  41.660000  39.070000  39.209999  37.145939  94809700
2020-12-15  39.060001  39.180000  38.209999  38.709999  36.672256  65712800
2020-12-16  38.180000  38.470001  37.740002  37.840000  35.848061  56515300
2020-12-17  37.830002  38.119999  37.310001  38.029999  36.028057  52036400
2020-12-18  37.990002  38.090000  37.500000  37.680000  35.696476  60259200

In [10]:
pfe_stock_prices.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-14  41.619999  41.660000  39.070000  39.209999  37.145939  94809700
2020-12-15  39.060001  39.180000  38.209999  38.709999  36.672256  65712800
2020-12-16  38.180000  38.470001  37.740002  37.840000  35.848061  56515300
2020-12-17  37.830002  38.119999  37.310001  38.029999  36.028057  52036400
2020-12-18  37.990002  38.090000  37.500000  37.680000  35.696476  60259200

In [11]:
#max and min dates in sentiment_scores and stock_prices data
print(str(min(sentiment_scores.index)) + " to " + str(max(sentiment_scores.index)))
print(str(min(pfe_stock_prices.index)) + " to " + str(max(pfe_stock_prices.index)))

2020-12-12 00:00:00 to 2021-11-23 00:00:00
2020-12-14 00:00:00 to 2021-11-22 00:00:00

In [12]:
pfe_stock_prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 238 entries, 2020-12-14 to 2021-11-22
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       238 non-null    float64
 1   High       238 non-null    float64
 2   Low        238 non-null    float64
 3   Close      238 non-null    float64
 4   Adj Close  238 non-null    float64
 5   Volume     238 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.0 KB

In [13]:
pfe_stock_prices['difference_open_close'] = pfe_stock_prices.Open - pfe_stock_prices.Close.shift(1)
pfe_stock_prices['positive_negative'] = pfe_stock_prices['positive_negative'] = pfe_stock_prices.difference_open_close.apply(lambda i: 1 if (i > 0) else (-1 if i < 0 else 0))

In [14]:
pfe_stock_prices.head()

,Open,High,Low,Close,Adj Close,Volume,difference_open_close,positive_negative
Date,,,,,,,,
2020-12-14,41.619999,41.660000,39.070000,39.209999,37.145939,94809700,NaN,0
2020-12-15,39.060001,39.180000,38.209999,38.709999,36.672256,65712800,-0.149998,-1
2020-12-16,38.180000,38.470001,37.740002,37.840000,35.848061,56515300,-0.529999,-1
2020-12-17,37.830002,38.119999,37.310001,38.029999,36.028057,52036400,-0.009998,-1
2020-12-18,37.990002,38.090000,37.500000,37.680000,35.696476,60259200,-0.039997,-1

In [15]:
pfe_stock_prices = pfe_stock_prices.resample('D').asfreq()
pfe_stock_prices.head()
len(pfe_stock_prices)

344

In [16]:
#merging both the stock price data and sentiment scores data
pfe_tweet_sentiment = pd.merge(pfe_stock_prices, sentiment_scores, how="inner", left_index=True, right_index=True)
pfe_tweet_sentiment.head()

,Open,High,Low,Close,Adj Close,Volume,difference_open_close,positive_negative,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,41.660000,39.070000,39.209999,37.145939,94809700.0,NaN,0.0,0.167158,0.121478,0.386193,0.246637
2020-12-15,39.060001,39.180000,38.209999,38.709999,36.672256,65712800.0,-0.149998,-1.0,0.176775,0.108430,0.341359,0.242884
2020-12-16,38.180000,38.470001,37.740002,37.840000,35.848061,56515300.0,-0.529999,-1.0,0.041658,0.080594,0.089565,0.192529
2020-12-17,37.830002,38.119999,37.310001,38.029999,36.028057,52036400.0,-0.009998,-1.0,0.047000,0.038977,0.095880,0.086427
2020-12-18,37.990002,38.090000,37.500000,37.680000,35.696476,60259200.0,-0.039997,-1.0,0.148367,0.113325,0.312353,0.283313

In [17]:
pfe_tweet_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 315 entries, 2020-12-14 to 2021-11-22
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   218 non-null    float64
 1   High                   218 non-null    float64
 2   Low                    218 non-null    float64
 3   Close                  218 non-null    float64
 4   Adj Close              218 non-null    float64
 5   Volume                 218 non-null    float64
 6   difference_open_close  217 non-null    float64
 7   positive_negative      218 non-null    float64
 8   sentiment_1            315 non-null    float64
 9   sentiment_2            315 non-null    float64
 10  sentiment_1_no_0       315 non-null    float64
 11  sentiment_2_no_0       315 non-null    float64
dtypes: float64(12)
memory usage: 32.0 KB

In [18]:
#drop unwanted columns
pfe_tweet_sentiment = pfe_tweet_sentiment.drop(columns=["High", "Low", "Adj Close", "Volume"])

In [19]:
pfe_tweet_sentiment.head()

,Open,Close,difference_open_close,positive_negative,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,39.209999,NaN,0.0,0.167158,0.121478,0.386193,0.246637
2020-12-15,39.060001,38.709999,-0.149998,-1.0,0.176775,0.108430,0.341359,0.242884
2020-12-16,38.180000,37.840000,-0.529999,-1.0,0.041658,0.080594,0.089565,0.192529
2020-12-17,37.830002,38.029999,-0.009998,-1.0,0.047000,0.038977,0.095880,0.086427
2020-12-18,37.990002,37.680000,-0.039997,-1.0,0.148367,0.113325,0.312353,0.283313

# Combine weekend scores

In [20]:
pfe_tweets = pfe_tweet_sentiment.copy()
pfe_tweets

,Open,Close,difference_open_close,positive_negative,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,39.209999,NaN,0.0,0.167158,0.121478,0.386193,0.246637
2020-12-15,39.060001,38.709999,-0.149998,-1.0,0.176775,0.108430,0.341359,0.242884
2020-12-16,38.180000,37.840000,-0.529999,-1.0,0.041658,0.080594,0.089565,0.192529
2020-12-17,37.830002,38.029999,-0.009998,-1.0,0.047000,0.038977,0.095880,0.086427
2020-12-18,37.990002,37.680000,-0.039997,-1.0,0.148367,0.113325,0.312353,0.283313
...,...,...,...,...,...,...,...,...
2021-11-18,51.099998,51.410000,0.230000,1.0,0.131358,0.104467,0.239535,0.190498
2021-11-19,51.959999,50.799999,0.549999,1.0,0.152368,0.095931,0.299821,0.136088
2021-11-20,NaN,NaN,NaN,NaN,0.116481,0.056918,0.216321,0.109619
2021-11-21,NaN,NaN,NaN,NaN,0.085462,0.051299,0.128194,0.076948
2021-11-22,50.950001,51.200001,0.150002,1.0,0.032341,0.046255,0.067762,0.092510

In [21]:
fri_sentiment_pfe = pfe_tweets[pfe_tweets.index.day_name() == 'Friday'].reset_index()
fri_sentiment_pfe = fri_sentiment_pfe.rename(columns={"index": "date"})
sat_sentiment_pfe = pfe_tweets[pfe_tweets.index.day_name() == 'Saturday'].reset_index()
sat_sentiment_pfe = sat_sentiment_pfe.rename(columns={"index": "date"})
sun_sentiment_pfe = pfe_tweets[pfe_tweets.index.day_name() == 'Sunday'].reset_index()
sun_sentiment_pfe = sun_sentiment_pfe.rename(columns={"index": "date"})

In [22]:
fri_sentiment_pfe.columns = ["fri_" + str(column) for column in fri_sentiment_pfe.columns]
sat_sentiment_pfe.columns = ["sat_" + str(column) for column in sat_sentiment_pfe.columns]
sun_sentiment_pfe.columns = ["sun_" + str(column) for column in sun_sentiment_pfe.columns]

In [23]:
fri_sentiment_pfe.head()

,fri_date,fri_Open,fri_Close,fri_difference_open_close,fri_positive_negative,fri_sentiment_1,fri_sentiment_2,fri_sentiment_1_no_0,fri_sentiment_2_no_0
0,2020-12-18,37.990002,37.680000,-0.039997,-1.0,0.148367,0.113325,0.312353,0.283313
1,2020-12-25,NaN,NaN,NaN,NaN,0.036519,0.074842,0.116860,0.133053
2,2021-01-01,NaN,NaN,NaN,NaN,0.015515,0.058869,0.019878,0.100568
3,2021-01-08,37.160000,37.130001,0.099998,1.0,0.244742,0.141152,0.336520,0.234365
4,2021-01-15,36.680000,36.700001,-0.070000,-1.0,0.046679,0.056335,0.077074,0.114280

In [24]:
sat_sentiment_pfe.head()

,sat_date,sat_Open,sat_Close,sat_difference_open_close,sat_positive_negative,sat_sentiment_1,sat_sentiment_2,sat_sentiment_1_no_0,sat_sentiment_2_no_0
0,2020-12-19,NaN,NaN,NaN,NaN,0.158833,0.114604,0.242661,0.262634
1,2020-12-26,NaN,NaN,NaN,NaN,0.198754,0.126389,0.397508,0.216667
2,2021-01-02,NaN,NaN,NaN,NaN,0.086411,0.074769,0.182988,0.192262
3,2021-01-09,NaN,NaN,NaN,NaN,0.103920,0.086576,0.159344,0.238949
4,2021-01-16,NaN,NaN,NaN,NaN,-0.105979,0.025509,-0.149334,0.065897

In [25]:
sun_sentiment_pfe.head()

,sun_date,sun_Open,sun_Close,sun_difference_open_close,sun_positive_negative,sun_sentiment_1,sun_sentiment_2,sun_sentiment_1_no_0,sun_sentiment_2_no_0
0,2020-12-20,NaN,NaN,NaN,NaN,0.031597,0.047701,0.076358,0.106410
1,2020-12-27,NaN,NaN,NaN,NaN,0.254475,0.124779,0.508950,0.299470
2,2021-01-03,NaN,NaN,NaN,NaN,0.158071,0.095875,0.252913,0.209181
3,2021-01-10,NaN,NaN,NaN,NaN,0.135745,0.124394,0.238912,0.237971
4,2021-01-17,NaN,NaN,NaN,NaN,0.027735,0.080072,0.042791,0.180161

In [26]:
# Merge fri, sat, and sun into one data frame

weekend_data = pd.concat([fri_sentiment_pfe, sat_sentiment_pfe, sun_sentiment_pfe], axis=1, sort = False).reindex()
weekend_data.head()

,fri_date,fri_Open,fri_Close,fri_difference_open_close,fri_positive_negative,fri_sentiment_1,fri_sentiment_2,fri_sentiment_1_no_0,fri_sentiment_2_no_0,sat_date,...,sat_sentiment_2_no_0,sun_date,sun_Open,sun_Close,sun_difference_open_close,sun_positive_negative,sun_sentiment_1,sun_sentiment_2,sun_sentiment_1_no_0,sun_sentiment_2_no_0
0,2020-12-18,37.990002,37.680000,-0.039997,-1.0,0.148367,0.113325,0.312353,0.283313,2020-12-19,...,0.262634,2020-12-20,NaN,NaN,NaN,NaN,0.031597,0.047701,0.076358,0.106410
1,2020-12-25,NaN,NaN,NaN,NaN,0.036519,0.074842,0.116860,0.133053,2020-12-26,...,0.216667,2020-12-27,NaN,NaN,NaN,NaN,0.254475,0.124779,0.508950,0.299470
2,2021-01-01,NaN,NaN,NaN,NaN,0.015515,0.058869,0.019878,0.100568,2021-01-02,...,0.192262,2021-01-03,NaN,NaN,NaN,NaN,0.158071,0.095875,0.252913,0.209181
3,2021-01-08,37.160000,37.130001,0.099998,1.0,0.244742,0.141152,0.336520,0.234365,2021-01-09,...,0.238949,2021-01-10,NaN,NaN,NaN,NaN,0.135745,0.124394,0.238912,0.237971
4,2021-01-15,36.680000,36.700001,-0.070000,-1.0,0.046679,0.056335,0.077074,0.114280,2021-01-16,...,0.065897,2021-01-17,NaN,NaN,NaN,NaN,0.027735,0.080072,0.042791,0.180161

In [27]:
weekend_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fri_date                   44 non-null     datetime64[ns]
 1   fri_Open                   41 non-null     float64
 2   fri_Close                  41 non-null     float64
 3   fri_difference_open_close  41 non-null     float64
 4   fri_positive_negative      41 non-null     float64
 5   fri_sentiment_1            44 non-null     float64
 6   fri_sentiment_2            44 non-null     float64
 7   fri_sentiment_1_no_0       44 non-null     float64
 8   fri_sentiment_2_no_0       44 non-null     float64
 9   sat_date                   45 non-null     datetime64[ns]
 10  sat_Open                   0 non-null      float64
 11  sat_Close                  0 non-null      float64
 12  sat_difference_open_close  0 non-null      float64
 13  sat_positive_negative      0 non-null      float64
 14  sat_sentiment_1            45 non-null     float64
 15  sat_sentiment_2            45 non-null     float64
 16  sat_sentiment_1_no_0       45 non-null     float64
 17  sat_sentiment_2_no_0       45 non-null     float64
 18  sun_date                   45 non-null     datetime64[ns]
 19  sun_Open                   0 non-null      float64
 20  sun_Close                  0 non-null      float64
 21  sun_difference_open_close  0 non-null      float64
 22  sun_positive_negative      0 non-null      float64
 23  sun_sentiment_1            45 non-null     float64
 24  sun_sentiment_2            45 non-null     float64
 25  sun_sentiment_1_no_0       45 non-null     float64
 26  sun_sentiment_2_no_0       45 non-null     float64
dtypes: datetime64[ns](3), float64(24)
memory usage: 9.6 KB

In [28]:
#avg. of weekend data
weekend_data["sentiment_1"] = (weekend_data["fri_sentiment_1"] + weekend_data["sat_sentiment_1"] + weekend_data["sun_sentiment_1"]) / 3
weekend_data["sentiment_2"] = (weekend_data["fri_sentiment_2"] + weekend_data["sat_sentiment_2"] + weekend_data["sun_sentiment_2"]) / 3
weekend_data["sentiment_1_no_0"] = (weekend_data["fri_sentiment_1_no_0"] + weekend_data["sat_sentiment_1_no_0"] + weekend_data["sun_sentiment_1_no_0"]) / 3
weekend_data["sentiment_2_no_0"] = (weekend_data["fri_sentiment_1_no_0"] + weekend_data["sat_sentiment_1_no_0"] + weekend_data["sun_sentiment_1_no_0"]) / 3

weekend_data = weekend_data[['fri_date', 'sat_date', 'sun_date', 'sentiment_1', 'sentiment_2', 'sentiment_1_no_0', 'sentiment_2_no_0']]

In [29]:
weekend_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fri_date          44 non-null     datetime64[ns]
 1   sat_date          45 non-null     datetime64[ns]
 2   sun_date          45 non-null     datetime64[ns]
 3   sentiment_1       44 non-null     float64
 4   sentiment_2       44 non-null     float64
 5   sentiment_1_no_0  44 non-null     float64
 6   sentiment_2_no_0  44 non-null     float64
dtypes: datetime64[ns](3), float64(4)
memory usage: 2.6 KB

In [30]:
# replace sentiment scores of friday with the avg. score from the weekend
for x in range(len(pfe_tweet_sentiment)):
    for y in range(len(weekend_data)):
        if pfe_tweet_sentiment.index[x] == weekend_data.fri_date[y]:
            pfe_tweet_sentiment.sentiment_1[x] = weekend_data.sentiment_1[y]
            pfe_tweet_sentiment.sentiment_2[x] = weekend_data.sentiment_2[y]
            pfe_tweet_sentiment.sentiment_1_no_0[x] = weekend_data.sentiment_1_no_0[y]
            pfe_tweet_sentiment.sentiment_2_no_0[x] = weekend_data.sentiment_2_no_0[y]
pfe_tweet_sentiment.head()

,Open,Close,difference_open_close,positive_negative,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-14,41.619999,39.209999,NaN,0.0,0.167158,0.121478,0.386193,0.246637
2020-12-15,39.060001,38.709999,-0.149998,-1.0,0.176775,0.108430,0.341359,0.242884
2020-12-16,38.180000,37.840000,-0.529999,-1.0,0.041658,0.080594,0.089565,0.192529
2020-12-17,37.830002,38.029999,-0.009998,-1.0,0.047000,0.038977,0.095880,0.086427
2020-12-18,37.990002,37.680000,-0.039997,-1.0,0.112932,0.091877,0.210457,0.210457

In [31]:
# Calculate daily percentage(%) change in stock price
#pfe_tweet_sentiment["Daily Percentage Change %"] = ((pfe_tweet_sentiment["Close"] - pfe_tweet_sentiment["Close"].shift(1))/pfe_tweet_sentiment["Close"].shift(1)) * 100
#pfe_tweet_sentiment.head()

In [32]:
len(pfe_tweet_sentiment)

315

In [33]:
pfe_tweet_sentiment.isnull().sum()

Open                     97
Close                    97
difference_open_close    98
positive_negative        97
sentiment_1               0
sentiment_2               0
sentiment_1_no_0          0
sentiment_2_no_0          0
dtype: int64

In [34]:
pfe_tweet_sentiment.shape

(315, 8)

In [35]:
pfe_tweet_sentiment = pfe_tweet_sentiment.dropna()

In [36]:
pfe_tweet_sentiment.shape

(217, 8)

In [37]:
pfe_tweet_sentiment.head()

,Open,Close,difference_open_close,positive_negative,sentiment_1,sentiment_2,sentiment_1_no_0,sentiment_2_no_0
2020-12-15,39.060001,38.709999,-0.149998,-1.0,0.176775,0.108430,0.341359,0.242884
2020-12-16,38.180000,37.840000,-0.529999,-1.0,0.041658,0.080594,0.089565,0.192529
2020-12-17,37.830002,38.029999,-0.009998,-1.0,0.047000,0.038977,0.095880,0.086427
2020-12-18,37.990002,37.680000,-0.039997,-1.0,0.112932,0.091877,0.210457,0.210457
2020-12-21,37.279999,37.380001,-0.400002,-1.0,0.161041,0.133941,0.263521,0.278186

In [38]:
pfe_tweet_sentiment.to_csv(r"csv/sentiment_score_and_pfizer_price.csv", header=True)